<!DOCTYPE html>
<html>
	<head>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="/css/todolist.css">
	</head>

	<body>

		<div class="header">
		  <div class = "logout">
		  		<button onclick = "logout()" type="button" class="btn btn-default" style="float:right">
 					 <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				</button>
		  </div>
		  <h2 class="title" style="margin:10px"></h2>
		  <input type="text" id="myInput" placeholder="Title...">
		  <span onclick="newElement()" class="glyphicon glyphicon-plus addBtn"/>
		  
			
		</div>

		<ul id="myUL"/>
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="/js/todolist.js"></script>
	</body>
</html>
